<a href="https://colab.research.google.com/github/kaisyaoktina/KKASmt1/blob/main/1_Fungsi_print_Kaisya_OM_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Menampilkan Teks Bebas

In [ ]:
print("Halo dunia")

Halo dunia

In [ ]:
print('Selamat datang di Python')

Selamat datang di Python

In [ ]:
print("Belajar Python itu menyenangkan!")

Belajar Python itu menyenangkan!

In [ ]:
print("Kaisya Oktina Mawaddah")

Kaisya Oktina Mawaddah

# Variabel

In [ ]:
nama = "Kaisya"

print(nama)

Kaisya

In [ ]:
BB = 47
print(BB)

47

In [ ]:
umur = 17
print(umur)

17

# Menampilkan teks bebas dan variabel

In [ ]:
umur = 17
print(f"Umur saya {umur} tahun")

Umur saya 17 tahun

In [ ]:
harga_telur = 27000

print("Harga telur per 1 kg adalah", harga_telur)

Harga telur per 1 kg adalah 27000

In [ ]:
nama_pembeli = "Kaisya"
print("Nama pembeli telur adalah " + str(nama_pembeli))

Nama pembeli telur adalah Kaisya

In [ ]:
harga_telur = 26000

print("Harga telur per 1 kg adalah " + str(harga_telur))

Harga telur per 1 kg adalah 26000

#Escape Character

In [ ]:
print("Nama: Kaisya Oktina Mawaddah")
print("Kelas: XI-1")
print("Nomor absen: 21")

Nama: Kaisya Oktina Mawaddah
Kelas: XI-1
Nomor absen: 21

In [ ]:
print("Nama\t\t: Kaisya Oktina Mawaddah\nKelas\t\t: XI-1\nNomer absen\t: 21")

Nama		: Kaisya Oktina Mawaddah
Kelas		: XI-1
Nomer absen	: 21

In [ ]:
print("""Nama: Kaisya Oktina Mawaddah
Kelas: XI-1
Nomor absen: 28""")

Nama: Kaisya Oktina Mawaddah
Kelas: XI-1
Nomor absen: 28

In [ ]:
print('Rifa\'a Nabilah')

Rifa'a Nabilah

In [ ]:
print("Rifa'a Nabilah")

Rifa'a Nabilah

In [ ]:
print("Bu Shinta berkata, \"Semua harus menyimak pelajaran.\"")

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [ ]:
print('Bu Shinta berkata, "Semua harus menyimak pelajaran."')

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [ ]:
print("Lokasi file video karnaval ada di D:\\Karnaval 2025\\mp4")

Lokasi file video karnaval ada di D:\Karnaval 2025\mp4

Latihan soal

1. Tampilkan teks bebas: Hari ini saya bahagia belajar bahasa python
2. Tampilkan nilai variabel: mata_pelajaran_favorit = Kode dan Kecerdasan Buatan
3. Tampilkan nilai variabel: nilai_kka = 100
4. Tampilkan teks bebas dan nilai variabel dengan tiga mode (f string,"+", ","): "Nilai KKA saya adalah {nilai_kka} loh!"

In [ ]:
print("Hari ini saya bahagia belajar bahasa python")

Hari ini saya bahagia belajar bahasa python

In [ ]:
mata_pelajaran_favorit = "Seni Budaya"

print(mata_pelajaran_favorit)

Seni Budaya

In [ ]:
nilai_kka = 100
print(nilai_kka)

100

In [ ]:
nilai_kka = 98
print(f"\"Nilai KKA saya adalah {nilai_kka} loh!\"")

"Nilai KKA saya adalah 98 loh!"

In [ ]:
nilai_kka = 98
print("\"Nilai KKA saya adalah " + str(nilai_kka) + " loh!\"")

"Nilai KKA saya adalah 98 loh!"

In [ ]:
nilai_kka = 98
print("\"Nilai KKA saya adalah", nilai_kka, "loh!\"")

"Nilai KKA saya adalah 98 loh!"

#Parameter Fungsi Print

In [ ]:
Tahun = 2000
Bulan = "Februari"
Tanggal = 18

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

18 Februari 2000

In [ ]:
Tahun = 2000
Bulan = "Februari"
Tanggal = 18
print(Tanggal, Bulan, Tahun, sep="/")

18/Februari/2000

Latihan

Tanggal Bulan Tahun

In [ ]:
Tahun = 2008
Bulan = "Oktober"
Tanggal = 8

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

8 Oktober 2008

In [ ]:
Tahun = 2008
Bulan = "Oktober"
Tanggal = 8

print(Tanggal, Bulan, Tahun, sep="/")

8/Oktober/2008

In [ ]:
Nama_depan = "Kaisya"
Nama_belakang = "Oktina"

print(Nama_depan, Nama_belakang)

Kaisya Oktina

In [ ]:
Nama_depan = "Kaisya"
Nama_belakang = "Oktina"

print(Nama_depan, end=" ")
print(Nama_belakang)

Kaisya Oktina

In [ ]:
print("Bu Shinta berkata, \"Berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing masing di folder local disk D:\\Jadwal Pelajaran\\Kelas XI Semester 1\"")

print("\nJadwal Pelajaran Mingguan")
print("====================================================")
print("Jam\tSenin\t\tSelasa\t\tRabu")
print("Jam 1\tMatematika\tBahasa\t\tInformatika")
print("Jam 2\tBahasa Ingg.\tSejarah\t\tMa'rifatullah")
print("Jam 3\tInformatika\tOlahraga\tBiologi")

Bu Shinta berkata, "Berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing masing di folder local disk D:\Jadwal Pelajaran\Kelas XI Semester 1"

Jadwal Pelajaran Mingguan
====================================================
Jam	Senin		Selasa		Rabu
Jam 1	Matematika	Bahasa		Informatika
Jam 2	Bahasa Ingg.	Sejarah		Ma'rifatullah
Jam 3	Informatika	Olahraga	Biologi

#Parameter Fungsi

In [ ]:
nama_siswa_1 = "Naufal"
nama_siswa_2 = "Favian"
nama_siswa_3 = "Humaira"
nama_siswa_4 = "Fazila"

print(nama_siswa_1, nama_siswa_2, nama_siswa_3, nama_siswa_4, sep="~")

Naufal~Favian~Humaira~Fazila

In [ ]:
print(nama_siswa_1, end="~")
print(nama_siswa_2)
print(nama_siswa_3, end="~")
print(nama_siswa_4)

Naufal~Favian
Humaira~Fazila